@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

/* RESET */

* {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

/* BG */
body {
    background-image: url("/assets/bg.png");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000000;
    height: auto;
    width: auto;
    overflow-x: hidden;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(199, 199, 199);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(199, 199, 199);  /* creates padding around scroll thumb */
    
  }

/* nav */

.n1_a{
    color: #fff;
}

.imgcima {
    position: absolute;
    top: 0;
    left: 15px;
    margin: 10px -5px;
    width: 60px;
    border-radius: 50px 50px;
}

.txtcima{
    position: absolute;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.932);
    height: 80px;
    width: auto;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.404);
}

.nav-list {
   list-style: none;
   display: flex; 
   position: absolute;
   right: 60px; 
}

.nav-list li{
    margin-left: 24px; 
}

nav p{
    position: fixed;
    top: 20px;
    left: 100px;
    display: inline;
    font-family: 'Inter';
    font-size: 32px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: -2px 3px 4px black;
}

.icones {
    width: 35px;
}

.icone {
    width: 28px;
}

/* Main */

.main_content{
    position: absolute;  
}

/* img main */
.img_a1{
    width: 200px;
    position: absolute;
    top: 200px;
    left: 250px;
    border-radius: 100px 100px;
}

/* txt main */

/* Txt da logo */

.a1{
    position: relative;
    padding-top: 200px;
}

.principal{ 
    font-family: 'Aldrich';
    font-size: 80px;
    text-align: center;
    text-shadow: -1px 2px 10px rgba(0, 0, 0, 0.884);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    width: 1000px;
    position: relative;
    right: -385px;
}

.cima {
    color: #a0a0a0;
    font-family: 'Inter';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.623);
    position: relative;
    right: -480px;
}

.baixo {
    text-align: right;
    color: #a0a0a0;
    font-family: 'Inter';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.623);
    position: relative;
    left: 20px;
}

/* txt do content */

.a2{
    position: relative;
    padding-top: 400px;
    padding-bottom: 200px;
    left: 125px;

}

.h1_a2{
    font-family: 'Aldrich';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.623);
    text-indent: 1.5em;
    color: #FFF;
    width: 1280px;
}